@font-face {
  font-family: sans-serif;
}

body {
  background: #B40404 !important;
}

.module-heading {
  background: #2d2d2d !important;
  color: #ffffff;
}

.btn-primary {
  background-color: #2d2d2d !important;
}

.ODPIntro {
  display: flex;
}

.ODPLogo {
  padding: 10px;
}

.masthead hgroup h1 {
  margin: 10px !important;
}

.mainClass {
  font-family: sans-serif;
}

a {
  text-decoration: none !important;
  color: #000000;
}

a:hover {
  text-decoration: none !important;
  color: #000000;
}

form {
  text-align: center;
  justify: center;
}

footer {
  background-color: #000000;
}

h1 {
  text-align: center;
  font-weight: bold;
}

h2 {
  margin-top: 10px;
}

h3 {
  font-size: auto;
}

.masthead {
  background-image: none !important;
  background-color: #2d2d2d !important;
  background: none;
}

.account-masthead {
  background-image: none !important;
  background-color: #000000 !important;
  background: none;
}

.container {
  width: auto !important;
}

.navbar-nav {
  margin: 0 !important;
  padding: 0 !important;
}

.navLinks {
  margin-left: -1.5%;
}

.nav-item {
  list-style: none;
  color: #d9e7eb !important;
  margin: 5px 2px 0 4px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}

.nav-item a {
  color: #d9e7eb !important;
}

.nav-item a:hover {
  color: #d9e7eb;
  background-color: #00232e;
  text-decoration: none;
}

.module-content {
  background-color: none !important;
  border: none !important;
  border-radius: none !important;
  -webkit-box-shadow: none !important;
  padding: 10px !important;
}

.welcomeDiv {
  background-image: url("./rit.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: auto;
  height: 300px;
  padding: 15px;
}

.welcomeDiv .divMaintain {
  width: 30%;
  height: auto;
  border: 2px dashed #d42c2c;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #dbe549;
  padding: 15px;
  margin: 15px;
  text-align: center;
}

.box {
  border-radius: 15px;
}

.SearchDiv {
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  padding: 15px;
  margin: 15px;
  display: flex;
}

.input-group {
  width: 100%;
  padding: 10px;
}

.divIntroText {
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  margin: 15px;
  padding: 10px;
  left: 25%;
  display: block;
}

.grid-item {
  max-width: auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  margin: 15px;
  padding: 10px;
}

.groupGrid {
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #2d2d2d;
  margin: 15px;
  padding: 10px;
}

.grid-item img {
  width: auto;
  height: 70px;
  padding: 10px;
}

.groupGrid .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.groupGrid .grid-item:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px #000000;
}

.infoGrid {
  display: grid;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #2d2d2d;
  margin: 15px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.25fr repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.infoGrid h1 {
  grid-area: 1 / 1 / 2 / 4;
  height: auto;
}

.editGrid {
  grid-area: 2 / 2 / 4 / 4;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  margin: 15px;
  padding: 10px;
  left: 25%;
}

/*
.editGrid .grid-container {
  height: auto;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}
*/

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  padding: 0px 15px 0px 15px;
  width: auto;
  height: auto;
  grid-auto-rows: minmax(auto, auto);
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: inherit;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #dfdfdf;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card .flip-card-inner:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  margin-top: 30px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background-color: #dfdfdf;
}

/* Style the back side */
.flip-card-back {
  position: absolute;
  top: 40%;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  transform: rotateY(180deg);
}

.divStatistics {
  grid-area: 3 / 1 / 4 / 2;
  width: auto;
  height: auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  margin: 15px;
  padding: 10px;
  display: flex;
}

.table > tbody > tr > th {
  border-style: none !important;
  border: none !important;
  /*border-top: none !important;*/
  text-align: center;
}

.table > tbody > tr > td {
  border-style: none !important;
  border: none !important;
  /*border-top: none !important;*/
}

.divNews {
  grid-area: 2 / 1 / 3 / 2;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  background: #ffffff;
  margin: 15px;
  padding: 10px;
  display: block;
}

.col-lg-3 {
  width: 33.33333% !important;
}

@media screen and (max-width: 530px) {
  .navLinks ul {
    display: flex !important;
    width: auto;
  }

  .welcomeDiv {
    height: auto;
  }

  .editGrid {
    display: block;
  }

  .editGrid .grid-container{
    display: block;
  }

  .editGrid .flip-card {
    display: block;
  }

  .editGrid .flip-card .flip-card-inner {
    display: block;
  }

  .groupGrid {
    display: block;
  }

  .groupGrid .grid-container {
    display: block;
  }

  .infoGrid {
    display: block;
  }

  .ODPIntro {
    display: block;
  }

  .divStatistics{
    width: auto;
  }
}
