<div role="main" class="mainClass">


  <div class="SearchDiv">
    <div class="input-group rounded">
      <form class="SearchField" action="{% url_for "dataset.search" %}" method="get">
        <h2>Was suchen Sie?</h2>
        <input type="search" value="" class="form-control rounded" placeholder="Suche" aria-label="Search" aria-describedby="search-addon" />
      </form>
    </div>
  </div>

  <div class="divIntroText">
    <h2>Willkommen bei der Stadt X</h2>
    {% block promoted %}
      {% snippet "home/snippets/promoted.html" %}
    {% endblock %}
  </div>

  <div class="groupGrid">
    <div class="container">
      {% for entry in h.customer_groups() %}
      {% set type = entry.type %}
      {% set url = h.url_for(type ~ '.read', id=entry.display_name.lower()) %}
        <div class="row">
          <div class="col-sm">
            <div class="col-categories">
              <a href="{{ url }}" style="text-decoration: none; color: #000000;">
                <img src="{{ entry.image_display_url or h.url_for_static('public/base/images/placeholder-group.png') }}" alt="Gruppenbild">
                <p>{{ entry.display_name.lower() }}</p>
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

<!--
  <div class="newestDataTest">
    {% for entry in h.newest_Data() %}
      <p>{{ entry.resources }}</p>
      <h2>{{ entry.resources[0]['name'] }}</h2>
      <h2>{{ entry.resources[0]['description'] }}</h2>
    {% endfor %}
  </div>
-->

  <div class="divEdit">
    <div class="row">
      <div class="card-header">
        <h2>Zuletzt bearbeitet:</h2>
      </div>
      {% for entry in h.newest_Data() %}
      {% set type = 'dataset' %}
      {% set url = h.url_for(type ~ '.read', id=entry.name.lower()) %}
        <div class="col-sm-6">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ entry.name }}</h5>
              <p class="card-text">{{ entry.num_resources }} Datensätze</p>
              <a href="{{ url }}" class="btn btn-primary">Datensatz ansehen</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="divInfo">
    <div class="divStatistics">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Daten</th>
            <th scope="col">Gruppen</th>
            <th scope="col">Organisationen</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ h.get_site_statistics()['dataset_count'] }}</td>
            <td>{{ h.get_site_statistics()['group_count'] }}</td>
            <td>{{ h.get_site_statistics()['organization_count'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>

<!--
    <div class="divNews">
      <h2>Neuigkeiten:</h2>
      <p>Hier könnten Neuigkeiten stehen, die sich per Adminoberfläche ändern lassen.</p>
    </div>
  </div>
-->

</div>
