<div role="main" class="mainClass">

  <div class="welcomeDiv">
  </div>

  <div class="SearchDiv">
    <div class="input-group rounded">
      <form class="SearchField" action="{% url_for "dataset.search" %}" method="get">
        <h2><em>Was suchen Sie?</em></h2>
        <input type="search" value="" class="form-control rounded" placeholder="Datensatz-Suche" aria-label="Search" aria-describedby="search-addon" />
      </form>
    </div>
  </div>

  <div class="divIntroText">
    <h2><em>Willkommen bei der Stadt X</em></h2>
    {% block promoted %}
      {% snippet "home/snippets/promoted.html" %}
    {% endblock %}
  </div>

  <div class="groupGrid">
    <h1 style="color:white"><em>Kategorien</em></h1>
    <div class="grid-container">
      {% for entry in h.customer_groups() %}
      {% set type = entry.type %}
      {% set url = h.url_for(type ~ '.read', id=entry.name) %}
        <div class="grid-item">
          <a style="text-decoration: none; color: #000000;" href="{{ url }}">
            <img src="{{ entry.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="Gruppenbild">
            <p><strong>{{ entry.display_name }}</strong></p>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

<!--
  <div class="newestDataTest">
    {% for entry in h.newest_Data() %}
      <p>{{ entry.resources }}</p>
      <h2>{{ entry.resources[0]['name'] }}</h2>
      <h2>{{ entry.resources[0]['description'] }}</h2>
    {% endfor %}
  </div>
-->

  <div class="infoGrid">
    <h1 style="color:white"><em>Informationen</em></h1>

    <!--
    <div class="editGrid">
      <div class="card-header">
        <h2><em>Zuletzt bearbeitet</em></h2>
      </div>
      <div class="grid-container">
        {% for entry in h.newest_Data() %}
        {% set type = 'dataset' %}
        {% set url = h.url_for(type ~ '.read', id=entry.name.lower()) %}
          <div class="grid-item">
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ entry.name }}</h5>
                <p class="card-text">{{ entry.notes[0:50] }}[...]<br><br><em>{{ entry.num_resources }} Datensätze</em></p>
                <a href="{{ url }}" class="btn btn-primary">Datensatz ansehen</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    -->

    <div class="editGrid">
      <div class="card-header">
        <h2><em>Zuletzt bearbeitet</em></h2>
      </div>
      <div class="flip-card">
        {% for entry in h.newest_Data() %}
        {% set type = 'dataset' %}
        {% set url = h.url_for(type ~ '.read', id=entry.name.lower()) %}
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <h5 class="card-title">{{ entry.name }}</h5>
              <p class="card-text">{{ entry.notes[0:50] }}[...]<br><br><em>{{ entry.num_resources }} Datensätze</em></p>
            </div>
            <div class="flip-card-back">
              <a href="{{ url }}" class="btn btn-primary">Datensatz ansehen</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>


    <div class="divStatistics">
      <table class="table">
        <tr>
          <th><h3><em>Daten</em></h3></th>
          <td><h3>{{ h.get_site_statistics()['dataset_count'] }}</h3></td>
        </tr>
        <tr>
          <th><h3><em>Gruppen</em></h3></th>
          <td><h3>{{ h.get_site_statistics()['group_count'] }}</h3></td>
        </tr>
        <tr>
          <th><h3><em>Organisationen</em></h3></th>
          <td><h3>{{ h.get_site_statistics()['organization_count'] }}</h3></td>
        </tr>
      </table>
    </div>

    <div class="divNews">
      <h2><em>Neuigkeiten</em></h2>
      <p>Hier könnten Neuigkeiten stehen, die sich per Adminoberfläche ändern lassen.</p>
    </div>

  </div>


</div>
